.chakra-react-select__control {
  width: 115px;
}

.chakra-react-select__menu-portal {
  color :aquamarine
}
.chakra-react-select__control{
  background-color: '#CCD3CA';
  width: 250px;
}
.chakra-react-select__placeholder {
  color:white;
  font-weight: 700;
  width: '115px';

}
/* #react-select-3-listbox{
  background-color: ;
} */
.chakra-react-select__menu-list{
  background-color:'#F5E8DD';
  min-width: '115px';
}
